@model CarSalesDomain.Model.PriceRange

@{
    ViewData["Title"] = "Видалити";
}

<h2>Видалення</h2>

<h3>Точно бажаєте видалити?</h3>
<div>
    <h4>Ціновий діапазон</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RangeLabel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RangeLabel)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Повернутися до списку</a>
    </form>
</div>
